<div class="header">
  <h2>Angular Chat</h2>
</div>

<div class="connect">
  <input [(ngModel)]="name" type="text" class="m-2" [disabled]="connected">
  <button type="button" (click)="connect()" [disabled]="connected" class="m-4">Connect User</button>
  <button type="button" (click)="disconnect()" [disabled]="!connected">Disconnect User</button>
</div>

<div class="chat">
  <table class="table table-sm table-bordered table-striped">
    <tbody>
      <tr *ngFor="let message of messages">
        <td>{{message}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="footer">
  <input [(ngModel)]="messageToSend" type="text" class="m-2" size="80" [disabled]="!connected">
  <button type="button" (click)="sendMessage()" [disabled]="!connected">Send Message</button>
</div>